<main class="container mx-auto px-10">
  <header class="text-black py-2">
    <h1 class="mb-3 font-display text-5xl text-center">Privacy Policy</h1>
    <center>
      <strong class="mb-3">Last Updated: <%= Date.today.strftime("%b, %Y") %></strong>
    </center>

    <div class="terms mt-4">
      <p class="mt-3">
      Welcome to our application ("the App"). By accessing or using the App, you agree to comply with and be bound by the following Privacy Policy ("Policy"). Please read this Policy carefully before using the App. If you do not agree with this Policy, please do not use the App.
      </p>

      <h3 class="text-black sm:text-xl my-2">1. Data Collection and Ownership</h3>
      <p>
        The App collects and retains user-generated data, including but not limited to preferences, settings, and interactions. This data is used to enhance user experience and improve the App's functionality.
      </p>

      <h3 class="text-black sm:text-xl my-2">2. Use of Personal Information</h3>
      <p>
        We respect your privacy and are committed to safeguarding your personal information. We do not sell, rent, or otherwise share your personal information with third parties without your explicit consent. Your personal information will be used solely for the purpose of improving your experience with the App and providing you with relevant content and updates.
      </p>

      <h3 class="text-black sm:text-xl my-2">3. Financial Data</h3>
      <p>
        The App does not store financial data, including credit card information, in its database. All financial transactions, including purchases and payments, are handled through secure third-party payment processors. We do not have access to your credit card details or any other financial information you provide during transactions.
      </p>

      <h3 class="text-black sm:text-xl my-2">4. Compliance with GDPR</h3>
      <p>
        We are committed to complying with the General Data Protection Regulation (GDPR) and similar privacy regulations. We ensure that your personal data is processed lawfully, transparently, and for specific purposes. You have the right to access, correct, or request the deletion of your personal data in accordance with applicable regulations.
      </p>

      <h3 class="text-black sm:text-xl my-2">5. Data Security</h3>
      <p>
        We employ industry-standard security measures to protect your personal information from unauthorized access, disclosure, or alteration. However, no method of data transmission over the internet is 100% secure, and we cannot guarantee the absolute security of your information.
      </p>

      <h3 class="text-black sm:text-xl my-2">6. Third-Party Services</h3>
      <p>
        The App may use third-party services that collect, monitor, and analyze user data for the purpose of enhancing the user experience and providing valuable insights. These services are bound by their own privacy policies.
      </p>

      <h3 class="text-black sm:text-xl my-2">7. Changes to this Privacy Policy</h3>
      <p>
        We reserve the right to modify, update, or revise this Privacy Policy at any time. Any changes will be reflected on this page, and your continued use of the App after such changes constitutes your acceptance of the updated Policy.
      </p>

      <h3 class="text-black sm:text-xl my-2">8. Contact Us</h3>
      <p>
        If you have any questions, concerns, or requests regarding this Privacy Policy or our data practices, please contact us at <a href="mailto:support@example.com">support@example.com</a>.
      </p>

      <p class="my-4">By using the App, you acknowledge that you have read, understood, and agreed to this Privacy Policy.</p>
    </div>
  </header>
</main>
