<main class="container mx-auto px-10">
  <header class="text-black py-2">
    <h1 class="mb-3 font-display text-5xl text-center">Terms of Use</h1>
    <center>
      <strong class="mb-3">Effective Date: <%= Date.today.strftime("%b, %Y") %></strong>
    </center>

    <div class="terms mt-4">
      <p class="mt-3">
        Welcome to our application ("the App"). By accessing or using the App, you agree to comply with and be bound by the following Terms of Use ("Terms"). Please read these Terms carefully before using the App. If you do not agree with these Terms, please do not use the App.
      </p>

      <h3 class="text-black sm:text-xl my-2">1. Acceptance of Terms</h3>
      <p>
        By accessing or using the App, you acknowledge that you have read, understood, and agreed to be bound by these Terms, as well as any additional guidelines, rules, and policies referenced herein. If you do not agree to these Terms, you may not use the App.
      </p>

      <h3 class="text-black sm:text-xl my-2">2. Purpose and Disclaimer</h3>
      <p>
        The App is designed to provide services to users. We do not guarantee specific results. The App provides information and services that may be helpful to users.
      </p>

      <h3 class="text-black sm:text-xl my-2">3. No Advice or Liability</h3>
      <p>
        The App provides information and services. We will not be liable for consequences of your use of the App in any way. You understand and acknowledge that any action or decision you make based on what is provided by the App is solely at your own risk.
      </p>

      <h3 class="text-black sm:text-xl my-2">4. No Liability for Losses</h3>
      <p>
        You agree that the App and its creators shall not be liable for any financial, mental, health, physical, or other damages or liabilities incurred by you as a result of using the App. You assume full responsibility for any losses or consequences that may arise from your use of the App.
      </p>

      <h3 class="text-black sm:text-xl my-2">5. Your Responsibilities</h3>
      <p>
        You are solely responsible for your use of the App and any actions you take based on its information and results. You agree that we have no influence in your actions and what you do on the App and the results, positive or negative, that may come out of it. We are NOT responsible for your actions or consequences that come from your use of the App.
      </p>

      <h3 class="text-black sm:text-xl my-2">6. Intellectual Property</h3>
      <p>
        All content and materials provided through the App, including text, graphics, logos, and software, are our property and are protected by intellectual property laws. You may not reproduce, distribute, modify, or create derivative works based on the App's content without prior written consent.
      </p>

      <h3 class="text-black sm:text-xl my-2">7. Modification and Termination</h3>
      <p>
        We reserve the right to modify, suspend, or terminate the App or these Terms at any time without notice. You are encouraged to review these Terms periodically. Your continued use of the App after any modifications indicates your acceptance of the updated Terms.
      </p>

      <h3 class="text-black sm:text-xl my-2">8. Governing Law</h3>
      <p>
        These Terms shall be governed by and construed in accordance with applicable laws. Any disputes arising from or related to these Terms or your use of the App shall be subject to the exclusive jurisdiction of the appropriate courts.
      </p>

      <h3 class="text-black sm:text-xl my-2">9. Contact Us</h3>
      <p>
        If you have any questions, concerns, or feedback regarding these Terms or the App, please contact us at <a href="mailto:support@yourdomain.com">support@yourdomain.com</a>.
      </p>

      <p class="my-4">By using the App, you acknowledge that you have read, understood, and agreed to these Terms of Use.</p>
    </div>
  </header>
</main>
